body {
    font-family: sans-serif;
}

select {
    padding: 15px 20px;
    border: none;
    border-bottom: 1px solid #e4e4e4;
    font-size: 2rem;
    outline: 0;
}

article {
    width: 70%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    background-color: bisque;
    padding: 2rem;
}

#display {
    width: 80%;
    margin: 0 auto;
    font-size: 5rem;
    text-align: center;
}

#results-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p {
    text-align: center;
}
